### import only one init file, No need to fuck about with balancing
import init.${ro.bootmode}.rc

on early-init
    start ueventd
	symlink /sbin/abcbox /sbin/reboot_into
	symlink /sbin/abcbox /sbin/kd_flasher

service ueventd /sbin/ueventd
    critical

# Restart adbd so it can run as root
service checkfs /sbin/checkfs
	oneshot

service abcboot /sbin/reboot_into -s sde
	oneshot

on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

