### NOTE FOR PORTING: The values in this file have come from archos 
### stock roms, because of archos specialness the original file can be
### found at /system/etc/init/ueventd.archos.rc
/dev/pvrsrvkm             0666   system     system
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/s3c-jpg              0660   system     camera
/dev/s3c-mem              0660   system     system
/dev/s3c-mfc              0660   system     graphics

/dev/modem_ctl            0660   radio      radio
/dev/modem_fmt            0660   radio      radio
/dev/modem_rfs            0660   radio      radio
/dev/s3c2410_serial3      0660   radio      radio
/dev/block/mtdblock5      0660   radio      radio
/dev/mtd/mtd5ro           0660   radio      radio

# for Sensor HAL
/dev/akm8973              0660   system     system
/dev/accelerometer        0660   system     system

# for GPS
/dev/s3c2410_serial1      0600   gps        gps

#for DSSCOMP
/dev/dsscomp              0660   system     system
/dev/tiler                0666   system     system
/dev/dce                0666   system     system

#for SYSLINK
/dev/rpmsg-omx0           0660   drmrpc    drmrpc
/dev/rpmsg-omx1           0660   drmrpc    drmrpc
/dev/rproc_user           0660   drmrpc    drmrpc
/dev/tf_driver            0660   drmrpc    drmrpc
/dev/tf_ctrl              0660   drmrpc    drmrpc

# for 3G keys
/dev/ttyUSB*              0660   root       radio
/dev/ttyHS*               0660   root       radio

# for HWC
/dev/omaplfb              0660   system     system

# for dvb adapter
/dev/dvb*                 0660   system     media

#for GCX
/dev/gcioctl              0666   system     system

# for tsp debug interface
/dev/touchplus_i2c_ts*    0666   system     input
/dev/pixcir_i2c_ts*       0666   system     input

### From Stock Archos Roms /ueventd.rc
### Additional Stuff that is missing from AOSP ueventd.rc but found in
### the archos ueventd.rc We'll put it here to make future porting easier
/dev/accel_ctrl           0666   root       root
/dev/kmem                 0640   root       root
/dev/mem                  0640   root       root
/dev/ttyS0                0666   root       root
/dev/ttyS2                0666   root       root
/dev/dmalloc              0777   root       root
/dev/omaplfb              0666   root       root


# fix right access for spx updater
/dev/block/mmcblk0        0640   root       system

/dev/input/uinput         0660   bluetooth  bluetooth
/dev/akm8975_dev          0777   compass    system
/dev/akm8975_aot          0777   compass    system
/dev/qemu_trace           0666   system     system
/dev/socket               0775   root       net_raw

## sysfs properties
/sys/devices/platform/omap/omap_i2c* calibration_trigger 0660 root	diag 

/sys/devices/platform* brightness 0660 root system
/sys/devices/platform* trigger 0660 root system
/sys/devices/platform* delay_on 0660 root system
/sys/devices/platform* delay_off 0660 root system
